[Unit]
Description=Start Kubeadm AIO Cluster

[Service]
Type=oneshot
ExecStart=/usr/bin/kubeadm-aio
FailureAction=poweroff
StandardOutput=tty
TimeoutStartSec=0

[Install]
WantedBy=container-up.target
