# Copyright 2017 AT&T Intellectual Property.  All other rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

pytz==2017.2
pyOpenSSL==17.3.0
ndg-httpsclient==0.4.3
pyasn1==0.3.6
psycopg2==2.7.3.1
docker-py==1.6.0
apache-airflow[crypto,celery,postgres,hive,hdfs,jdbc]==1.8.2
python-openstackclient==3.11.0
sphinx>=1.6.2
sphinx_rtd_theme==0.2.4
