[Unit]
Description=Create Provisioning Network
Requires=postgresql.service
After=postgresql.service

[Service]
Type=oneshot
PassEnvironment=MAAS_REGION_UI_SERVICE_HOST
ExecStart=/usr/local/bin/create-provisioning-network.sh

[Install]
WantedBy=multi-user.target